body {
    font-family: monospace;
    font-size: 18vw;
    background: #282c34;
    text-align: center;
    margin: 0%;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(218 10% 85%);
}

#date {
    font-size: 4vw;
}