textarea {
    resize: none;
    font-size: 75%;
}

input {
    font-size: 75%;
}

.output {
    display: inline-block;
    max-width: 85vw;
    font-family: monospace;
}

label {
    display: block;
}

body {
    text-align: center;
    font-size: 175%;
    margin: 0;
    overflow-wrap: anywhere;
    color-scheme: dark;
    background: #282c34;
    color: hsl(218 10% 85%);
}